@media (min-width: 450px) {
	header {
		backdrop-filter: blur(8px);
	}
}
@media (max-width: 450px) {
	* {
		cursor: auto;
	}
	.preloader {
		.loader-outer,
		.loader-inner {
			top: 60%;
		}
	}
	#cursor {
		display: none;
	}
	header {
		height: 60px;
		background-color: transparent;
		.logo {
			backdrop-filter: blur(4px);
			height: 40px;
			width: 100%;
			top: 0;
			left: 0;
			padding-left: 1rem;
			position: fixed;
		}
		nav {
			backdrop-filter: blur(8px);
			height: 60px;
			z-index: 20;
			bottom: 0;
			top: auto;
			overflow: auto;
			background-color: var(--navbar-color);
			right: 0;
			padding-inline: 0.5rem;
			overflow: visible;

			ul li a {
				width: calc(calc(100vw - 1rem) / 6);
				padding: 0;
				&.active {
					.icon {
						rotate: -10deg;
					}
				}
			}
			.themes-btn {
				.icon {
					display: block;
					line,
					rect {
						stroke-width: 4 !important;
					}
				}
				.text {
					display: block !important;
				}
			}
			.text {
				font-size: 0.5rem;
				padding: 0;
			}
			.icon {
				display: block !important;
				width: 40%;
				fill: var(--text-color);
			}
		}
		.dropdown-content {
			right: 0.5rem;
			bottom: -100vh;
			top: auto;
			translate: 0% 0%;
			::-webkit-scrollbar-thumb {
				box-shadow: 0px 0px 0px var(--accent-color);
			}
			&.open {
				bottom: 65px;
			}
		}
	}
	.home {
		padding-top: 0px !important;
		text-align: center;
		.social {
			justify-content: center;
		}
		.buttons {
			flex-direction: column;
			button {
				width: 100%;
			}
		}
	}
}
