@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

:root {
	--navbar-color: #000000e0;
	--primary-color: #000000;
	--accent-color: rgb(18, 170, 225);
	--accent-color2: rgb(12, 67, 87);
	--text-color: rgb(249, 249, 249);
	--shadow-color: rgb(3, 7, 40);
	--color1: #040622;
	--color2: #0a0c29;
	--color3: #040425;
	--color4: #090a34;

}
// dark orange
// :root {
// 	--navbar-color: #040510e0;
// 	--primary-color: #040510;
// 	--accent-color: rgb(225, 111, 18);
// 	--accent-color2: rgb(114, 49, 14);
// 	--text-color: rgb(249, 249, 249);
// 	--shadow-color: rgb(3, 7, 40);
// 	--color1: #040622;
// 	--color2: #0a0c29;
// 	--color3: #040425;
// 	--color4: #090a34;
// }

// // dark green
// :root {
// 	--navbar-color: #040510e0;
// 	--primary-color: #040510;
// 	--accent-color: rgb(90, 225, 18);
// 	--accent-color2: rgb(14, 114, 39);
// 	--text-color: rgb(249, 249, 249);
// 	--shadow-color: rgb(3, 7, 40);
// 	--color1: #040622;
// 	--color2: #0a0c29;
// 	--color3: #040425;
// 	--color4: #090a34;
// }

// // dark red
// :root {
// 	--navbar-color: rgba(16, 4, 4, 0);
// 	--primary-color: #050101;
// 	--accent-color: rgb(225, 18, 18);
// 	--accent-color2: rgb(114, 14, 14);
// 	--text-color: rgb(249, 249, 249);
// 	--shadow-color: rgb(3, 7, 40);
// 	--color1: #040622;
// 	--color2: #0a0c29;
// 	--color3: #040425;
// 	--color4: #090a34;
// }

// // dark orange
// :root {
// 	--navbar-color: rgba(16, 4, 4, 0);
// 	--primary-color: #000000;
// 	--accent-color: rgb(225, 70, 18);
// 	--accent-color2: rgb(114, 19, 14);
// 	--text-color: rgb(249, 249, 249);
// 	--shadow-color: rgb(3, 7, 40);
// 	--color1: #040622;
// 	--color2: #0a0c29;
// 	--color3: #040425;
// 	--color4: #090a34;
// }

// // dark purple
// :root {
// 	--navbar-color: rgba(19, 19, 19, 0.2);
// 	--primary-color: #000000;
// 	--accent-color: rgb(177, 18, 225);
// 	--accent-color2: rgb(75, 9, 72);
// 	--text-color: rgb(249, 249, 249);
// 	--shadow-color: rgb(3, 7, 40);
// 	--color1: #040622;
// 	--color2: #0a0c29;
// 	--color3: #040425;
// 	--color4: #090a34;
// }

// // silver
// :root {
// 	--navbar-color: rgba(32, 32, 32, 0.2);
// 	--primary-color: #000000;
// 	--accent-color: rgb(183, 181, 181);
// 	--accent-color2: rgb(67, 65, 65);
// 	--text-color: rgb(249, 249, 249);
// 	--shadow-color: rgb(211, 211, 211);
// 	--color1: #040622;
// 	--color2: #0a0c29;
// 	--color3: #040425;
// 	--color4: #090a34;
// }

// //gold
// :root {
// 	--navbar-color: rgba(16, 4, 4, 0);
// 	--primary-color: #000000;
// 	--accent-color: rgb(177, 135, 17);
// 	--accent-color2: rgb(149, 102, 9);
// 	--text-color: rgb(249, 249, 249);
// 	--shadow-color: rgb(211, 211, 211);
// 	--color1: #040622;
// 	--color2: #0a0c29;
// 	--color3: #040425;
// 	--color4: #090a34;
// }

// // neon
// :root {
// 	--navbar-color: rgba(16, 4, 4, 0.2);
// 	--primary-color: #000000;
// 	--accent-color: rgb(17, 169, 175);
// 	--accent-color2: rgb(149, 9, 133);
// 	--text-color: rgb(249, 249, 249);
// 	--shadow-color: rgb(211, 211, 211);
// 	--color1: #040622;
// 	--color2: #0a0c29;
// 	--color3: #040425;
// 	--color4: #090a34;
// }

// // coffee
// :root {
// 	--navbar-color: rgba(218, 148, 74, 0.943);
// 	--primary-color: rgb(221, 212, 208);
// 	--accent-color: rgb(148, 76, 22);
// 	--shadow-color: rgb(40, 13, 3);
// 	--accent-color2: rgb(67, 27, 13);
// 	--text-color: rgb(61, 61, 61);
// 	--color1: #532b16;
// 	--color2: #5e3019;
// 	--color3: #5f331d;
// 	--color4: #955f37;
// }

// //horror
// :root {
// 	--navbar-color: #320808;
// 	--primary-color: #1C0909;
// 	--accent-color: rgb(225, 39, 18);
// 	--accent-color2: rgb(87, 22, 12);
// 	--text-color: rgb(152, 150, 150);
// 	--shadow-color: rgb(40, 3, 3);
// 	--color1: #480707;
// 	--color2: #5E0505;
// 	--color3: #740404;
// 	--color4: #8A0303;
// }

// // light blue
:root {
	--navbar-color: #ffffffe0;
	--primary-color: #ffffff;
	--accent-color: rgb(18, 170, 225);
	--accent-color2: rgb(12, 67, 87);
	--shadow-color: rgb(3, 7, 40);
	--text-color: #000;
	--color1: #040622;
	--color2: #0a0c29;
	--color3: #040425;
	--color4: #090a34;
}

// light orange
// :root {
// 	--navbar-color: #ffffffe0;
// 	--primary-color: #ffffff;
// 	--accent-color: rgb(255, 115, 0);
// 	--accent-color2: rgb(179, 78, 6);
// 	--text-color: #000;
// 	--shadow-color: rgb(3, 7, 40);
// 	--color1: #040622;
// 	--color2: #0a0c29;
// 	--color3: #040425;
// 	--color4: #090a34;
// }

// light green
// :root {
// 	--navbar-color: #ffffffe0;
// 	--primary-color: #fff;
// 	--accent-color: rgb(90, 225, 18);
// 	--accent-color2: rgb(14, 114, 39);
// 	--text-color: #000;
// 	--shadow-color: rgb(3, 7, 40);
// 	--color1: #040622;
// 	--color2: #0a0c29;
// 	--color3: #040425;
// 	--color4: #090a34;
// }

// light red
// :root {
// 	--navbar-color: #ffffffe0;
// 	--primary-color: #ffffff;
// 	--accent-color: rgb(225, 18, 18);
// 	--accent-color2: rgb(114, 14, 14);
// 	--text-color: #000;
// 	--shadow-color: rgb(3, 7, 40);
// 	--color1: #040622;
// 	--color2: #0a0c29;
// 	--color3: #040425;
// 	--color4: #090a34;
// }

// light brown
// :root {
// 	--navbar-color: #ffffffe0;
// 	--primary-color: #ffffff;
// 	--accent-color: rgb(225, 70, 18);
// 	--accent-color2: rgb(114, 19, 14);
// 	--text-color: #000;
// 	--shadow-color: rgb(3, 7, 40);
// 	--color1: #040622;
// 	--color2: #0a0c29;
// 	--color3: #040425;
// 	--color4: #090a34;
// }

// light purple
// :root {
// 	--navbar-color: rgba(255, 255, 255, 0);
// 	--primary-color: #fff;
// 	--accent-color: rgb(177, 18, 225);
// 	--accent-color2: rgb(75, 9, 72);
// 	--text-color: #000;
// 	--shadow-color: rgb(3, 7, 40);
// 	--color1: #040622;
// 	--color2: #0a0c29;
// 	--color3: #040425;
// 	--color4: #090a34;
// }

// //light silver
// :root {
// 	--navbar-color: rgba(16, 4, 4, 0);
// 	--primary-color: #fff;
// 	--accent-color: rgb(183, 181, 181);
// 	--accent-color2: rgb(67, 65, 65);
// 	--text-color: #000;
// 	--shadow-color: rgb(211, 211, 211);
// 	--color1: #040622;
// 	--color2: #0a0c29;
// 	--color3: #040425;
// 	--color4: #090a34;
// }

// //light gold
// :root {
// 	--navbar-color: rgba(16, 4, 4, 0);
// 	--primary-color: #fff;
// 	--accent-color: rgb(255, 215, 0);
// 	--accent-color2: rgb(149, 102, 9);
// 	--text-color: #000;
// 	--shadow-color: rgb(211, 211, 211);
// 	--color1: #040622;
// 	--color2: #0a0c29;
// 	--color3: #040425;
// 	--color4: #090a34;
// }

// //light neon
// :root {
// 	--navbar-color: rgba(16, 4, 4, 0);
// 	--primary-color: #fff;
// 	--accent-color: rgb(17, 169, 175);
// 	--accent-color2: rgb(149, 9, 133);
// 	--text-color: #000;
// 	--shadow-color: rgb(211, 211, 211);
// 	--color1: #040622;
// 	--color2: #0a0c29;
// 	--color3: #040425;
// 	--color4: #090a34;
// }

body {
	background-color: var(--primary-color);
	color: var(--text-color);
}


@import './navbar';
.page-loader {
	z-index: 10;
	position: fixed;
	inset: 0;
	background-color: rgba(0, 0, 0, 0.99);
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 300ms linear;
	&.loaded {
		opacity: 0 !important;
		pointer-events: none;
	}
	.loading-text {
		position: absolute;
		color: rgb(10, 179, 10);
		top: 10px;
		left: 10px;
		font-size: clamp(1.5rem, 1.25vw, 5rem);
		&::after {
			content: '';
			position: absolute;
			height: 100%;
			left: 9ch;
			width: 1ch;
			background-color: rgb(10, 179, 10);
			animation: blink 1s cubic-bezier(0.6, 1.15, 0, 4.86) infinite;
		}
	}
	.fun-fact {
		background-color: rgba(20, 20, 20, 0.373);
		width: min(100vw - 2rem, 900px);
		font-size: clamp(1rem, 1.25vw, 2rem);
		border: 1px solid rgba(255, 255, 255, 0.65);
		// border: 1px solid rgb(10, 179, 10);
		padding: 50px 10px;
		border-radius: 4px;
		text-align: center;
		display: flex;
		flex-direction: column;
		// box-shadow: 0px 0px 10px green;
		span {
			font-size: clamp(1.25rem, 1.75vw, 2.5rem);
			color: rgb(10, 179, 10);
			text-shadow: 0px 0px 10px green;
		}
	}
}
@keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
main {
	padding-top: 120px;
	// display: grid;
	// grid-template-columns: 500px 500px;
	// gap: 20px;
	// place-content: center;
	// div {
	// 	// border: 1px solid red;
	// 	aspect-ratio: 1 / 1;
	// 	&:first-of-type {
	// 		background-color: var(--color1);
	// 		box-shadow: 0px 0px 10px var(--shadow-color);
	// 	}
	// 	&:nth-of-type(2) {
	// 		background-color: var(--color2);
	// 		box-shadow: 0px 0px 10px var(--shadow-color);
	// 	}
	// 	&:nth-of-type(3) {
	// 		background-color: var(--color3);
	// 		box-shadow: 0px 0px 10px var(--shadow-color);
	// 	}
	// 	&:nth-of-type(4) {
	// 		background-color: var(--color4);
	// 		box-shadow: 0px 0px 10px var(--shadow-color);
	// 	}
	// }
}
@import './preloader';
@import './home';
@import './media';
@import './animations';