* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: var(--primary-color);
  color: white;
}

:root {
  --navbar-color: #090b20e0;
  --primary-color: #04051a;
  --accent-color: rgb(18, 170, 225);
  --shadow-color: rgb(3, 7, 40);
  --color1: #040622;
  --color2: #0a0c29;
  --color3: #040425;
  --color4: #090a34;
}

header {
  position: fixed;
  width: 100vw;
  height: 80px;
  background-color: var(--navbar-color);
  display: flex;
  justify-content: flex-end;
  padding-inline: 20px;
}
header nav {
  height: 100%;
}
header nav ul {
  list-style-type: none;
  height: 100%;
  display: flex;
}
header nav ul li {
  height: 100%;
}
header nav ul li a {
  padding-inline: 20px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 100%;
  height: 100%;
  position: relative;
}
header nav ul li a::before {
  content: "";
  width: 100%;
  scale: 0 0;
  transform-origin: top center;
  height: 2px;
  background-color: var(--accent-color);
  position: absolute;
  top: 0px;
  transition: all 0.5s;
}
header nav ul li a:hover {
  outline: none;
  color: var(--accent-color);
  text-shadow: 0px 0px 10px var(--accent-color);
}
header nav ul li a:hover::before {
  width: 100%;
  scale: 1 1;
  filter: drop-shadow(0px 10px 10px var(--accent-color));
}
header nav ul li a.themes-btn:after {
  content: "";
  width: 100%;
  scale: 0 0;
  transform-origin: bottom center;
  height: 2px;
  background-color: var(--accent-color);
  position: absolute;
  bottom: 0px;
  transition: all 0.5s;
}
header nav ul li a.themes-btn:hover::after {
  width: 100%;
  scale: 1 1;
  filter: drop-shadow(0px -10px 10px var(--accent-color));
}

.page-loader {
  z-index: 10;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.99);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 300ms linear;
}
.page-loader.loaded {
  opacity: 0 !important;
  pointer-events: none;
}
.page-loader .loading-text {
  position: absolute;
  color: rgb(10, 179, 10);
  top: 10px;
  left: 10px;
  font-size: clamp(1.5rem, 1.25vw, 5rem);
}
.page-loader .loading-text::after {
  content: "";
  position: absolute;
  height: 100%;
  left: 9ch;
  width: 1ch;
  background-color: rgb(10, 179, 10);
  -webkit-animation: blink 1s cubic-bezier(0.6, 1.15, 0, 4.86) infinite;
          animation: blink 1s cubic-bezier(0.6, 1.15, 0, 4.86) infinite;
}
.page-loader .fun-fact {
  background-color: rgba(20, 20, 20, 0.373);
  width: min(100vw - 2rem, 900px);
  font-size: clamp(1rem, 1.25vw, 2rem);
  border: 1px solid rgba(255, 255, 255, 0.65);
  padding: 50px 10px;
  border-radius: 4px;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.page-loader .fun-fact span {
  font-size: clamp(1.25rem, 1.75vw, 2.5rem);
  color: rgb(10, 179, 10);
  text-shadow: 0px 0px 10px green;
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
main {
  padding-top: 120px;
  display: grid;
  grid-template-columns: 500px 500px;
  gap: 20px;
  place-content: center;
}
main div {
  aspect-ratio: 1/1;
}
main div:first-of-type {
  background-color: var(--color1);
  box-shadow: 0px 0px 10px var(--shadow-color);
}
main div:nth-of-type(2) {
  background-color: var(--color2);
  box-shadow: 0px 0px 10px var(--shadow-color);
}
main div:nth-of-type(3) {
  background-color: var(--color3);
  box-shadow: 0px 0px 10px var(--shadow-color);
}
main div:nth-of-type(4) {
  background-color: var(--color4);
  box-shadow: 0px 0px 10px var(--shadow-color);
}/*# sourceMappingURL=style.css.map */