@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  cursor: none;
}

:root {
  --cursor-size: 28px;
}

:root {
  --navbar-color: #000000e0;
  --primary-color: #000000;
  --accent-color: rgb(18, 170, 225);
  --accent-color2: rgb(12, 67, 87);
  --text-color: rgb(249, 249, 249);
  --shadow-color: rgb(3, 7, 40);
  --color1: #040622;
  --color2: #0a0c29;
  --color3: #040425;
  --color4: #090a34;
  --cursor-color: #fff;
}

:root {
  --navbar-color: rgba(16, 4, 4, 0.2);
  --primary-color: #000000;
  --accent-color: rgb(17, 169, 175);
  --accent-color2: rgb(149, 9, 133);
  --text-color: rgb(249, 249, 249);
  --shadow-color: rgb(211, 211, 211);
  --color1: #040622;
  --color2: #0a0c29;
  --color3: #040425;
  --color4: #090a34;
}

body {
  background-color: var(--primary-color);
  color: var(--text-color);
}

header {
  position: fixed;
  width: 100vw;
  height: 80px;
  background-color: var(--navbar-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 20px;
  z-index: 1;
}
header .skip-nav {
  position: absolute;
  background-image: linear-gradient(90deg, var(--accent-color), var(--accent-color2));
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  border: 1px solid var(--accent-color);
  transition: translate 200ms ease-in-out;
  translate: 0% -200%;
  padding: 10px;
}
header .skip-nav:focus {
  translate: 0% 200%;
}
header .logo {
  font-size: 1.5rem;
  background-image: linear-gradient(90deg, var(--accent-color), var(--accent-color2));
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
}
header nav {
  position: fixed;
  right: 2rem;
  top: 0;
  bottom: auto;
  height: 80px;
}
header nav ul {
  list-style-type: none;
  height: 100%;
  display: flex;
}
header nav ul li {
  height: 100%;
}
header nav ul li a {
  padding-inline: 20px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  color: var(--text-color);
  width: 100%;
  height: 100%;
  position: relative;
}
header nav ul li a .icon {
  display: none;
}
header nav ul li a::before {
  content: "";
  width: 100%;
  scale: 0 0;
  transform-origin: top center;
  height: 2px;
  background-color: var(--accent-color);
  position: absolute;
  top: 0px;
  transition: all 0.5s;
}
header nav ul li a.themes-btn {
  stroke: var(--accent-color);
}
header nav ul li a.themes-btn .icon {
  display: block;
}
header nav ul li a.themes-btn .icon line,
header nav ul li a.themes-btn .icon rect {
  stroke-width: 9;
}
header nav ul li a.themes-btn .text {
  display: none;
}
header nav ul li a:hover {
  outline: none;
  color: var(--accent-color);
  text-shadow: 0px 0px 10px var(--accent-color);
}
header nav ul li a:hover .icon svg path {
  stroke: var(--accent-color);
}
header nav ul li a:hover.themes-btn svg line,
header nav ul li a:hover rect {
  stroke: var(--accent-color);
}
header nav ul li a:hover::before {
  width: 100%;
  scale: 1 1;
  filter: drop-shadow(0px 10px 10px var(--accent-color));
}
header nav ul li a.themes-btn svg line,
header nav ul li a rect {
  stroke: var(--text-color);
}
header nav ul li a.themes-btn:after {
  content: "";
  width: 100%;
  scale: 0 0;
  transform-origin: bottom center;
  height: 2px;
  background-color: var(--accent-color);
  position: absolute;
  bottom: 0px;
  transition: all 0.5s;
}
header nav ul li a.themes-btn:hover::after {
  width: 100%;
  scale: 1 1;
  filter: drop-shadow(0px -10px 10px var(--accent-color));
}

main section {
  height: 100vh;
}

.preloader {
  background-color: var(--primary-color);
  position: fixed;
  inset: 0;
  z-index: 100;
  pointer-events: none;
  opacity: 1;
  transition: 300ms linear;
  display: flex;
  flex-direction: column;
}
.preloader .fun-fact {
  position: absolute;
  top: 20%;
  left: 50%;
  translate: -50% 0;
  width: min(100% - 2rem, 600px);
  font-size: clamp(1rem, 2vw, 2rem);
  text-align: center;
  transition: 300ms linear;
}
.preloader .fun-fact span {
  color: var(--accent-color);
  font-size: clamp(2rem, 3vw, 4rem);
}
.preloader .loader-inner {
  width: min(22vw, 8rem);
  border: 4px solid var(--accent-color);
  filter: drop-shadow(0px 0px 10px var(--accent-color));
  border-left-color: transparent;
  -webkit-animation: rotate-right 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite;
          animation: rotate-right 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite;
}
.preloader .loader-outer {
  width: min(30vw, 10rem);
  border: 4px solid var(--accent-color2);
  filter: drop-shadow(0px 0px 10px var(--accent-color2));
  border-right-color: transparent;
  -webkit-animation: rotate-left 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite;
          animation: rotate-left 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite;
}
.preloader .loader-outer,
.preloader .loader-inner {
  transition: 300ms linear;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 1;
  border-radius: 50%;
  border-bottom: 0;
}
.preloader.loaded {
  opacity: 0;
  transition-delay: 500ms;
}
.preloader.loaded .fun-fact {
  opacity: 0;
}
.preloader.loaded .loader-outer,
.preloader.loaded .loader-inner {
  opacity: 0;
}

.home {
  width: min(100vw - 2rem, 1500px);
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: center;
  gap: 35px;
  overflow: hidden;
}
.home.active h1 {
  transition: opacity 300ms linear, translate 300ms linear;
  opacity: 1;
  translate: 0% 0%;
}
.home.active h2 {
  transition: opacity 300ms linear, translate 300ms linear;
  transition-delay: 300ms;
  opacity: 1;
  translate: 0% 0%;
}
.home.active .social a:nth-of-type(1) {
  opacity: 1;
  translate: 0% 0%;
  transition-delay: 750ms;
}
.home.active .social a:nth-of-type(2) {
  opacity: 1;
  translate: 0% 0%;
  transition-delay: 900ms;
}
.home.active .social a:nth-of-type(3) {
  opacity: 1;
  translate: 0% 0%;
  transition-delay: 1050ms;
}
.home.active .social a:nth-of-type(4) {
  opacity: 1;
  translate: 0% 0%;
  transition-delay: 1200ms;
}
.home.active .social a:nth-of-type(5) {
  opacity: 1;
  translate: 0% 0%;
  transition-delay: 1350ms;
}
.home.active .social a:nth-of-type(6) {
  opacity: 1;
  translate: 0% 0%;
  transition-delay: 1500ms;
}
.home.active .buttons {
  transition: 300ms linear;
  opacity: 1;
  transition-delay: 1800ms !important;
  translate: 0% 0%;
}
.home .bg-text {
  position: absolute;
  font-size: clamp(10rem, 25vw, 25rem);
  rotate: -45deg;
  color: var(--accent-color);
  z-index: -1;
  opacity: 0.05;
  top: 200px;
  left: 50px;
  overflow: hidden;
}
.home::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  position: absolute;
  right: 0;
  bottom: 0;
  -webkit-clip-path: polygon(100% 40%, 50% 100%, 100% 100%);
          clip-path: polygon(100% 40%, 50% 100%, 100% 100%);
  z-index: -1;
  background-image: repeating-linear-gradient(135deg, hsla(210deg, 79%, 75%, 0.05) 0px, hsla(210deg, 79%, 75%, 0.05) 1px, transparent 1px, transparent 11px, hsla(210deg, 79%, 75%, 0.05) 11px, hsla(210deg, 79%, 75%, 0.05) 12px, transparent 12px, transparent 32px), repeating-linear-gradient(45deg, hsla(210deg, 79%, 75%, 0.05) 0px, hsla(210deg, 79%, 75%, 0.05) 1px, transparent 1px, transparent 11px, hsla(210deg, 79%, 75%, 0.05) 11px, hsla(210deg, 79%, 75%, 0.05) 12px, transparent 12px, transparent 32px), repeating-linear-gradient(90deg, hsla(210deg, 79%, 75%, 0.05) 0px, hsla(210deg, 79%, 75%, 0.05) 1px, transparent 1px, transparent 11px, hsla(210deg, 79%, 75%, 0.05) 11px, hsla(210deg, 79%, 75%, 0.05) 12px, transparent 12px, transparent 32px), repeating-linear-gradient(0deg, hsla(210deg, 79%, 75%, 0.05) 0px, hsla(210deg, 79%, 75%, 0.05) 1px, transparent 1px, transparent 11px, hsla(210deg, 79%, 75%, 0.05) 11px, hsla(210deg, 79%, 75%, 0.05) 12px, transparent 12px, transparent 32px), linear-gradient(90deg, var(--accent-color), var(--accent-color2));
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}
.home h1 {
  font-size: clamp(2rem, 3vw, 4rem);
  font-weight: 400;
  opacity: 0;
  translate: 0% -20%;
}
.home h2 {
  font-size: clamp(1.2rem, 1.5vw, 2rem);
  font-weight: 300;
  opacity: 0;
  translate: 0% -20%;
}
.home h2 span {
  color: var(--accent-color);
  font-weight: 900;
}
.home p {
  font-size: clamp(1rem, 1vw, 1.2rem);
}
.home .social {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: clamp(12px, 3vw, 22px);
}
.home .social a {
  opacity: 0;
  translate: -40% 0%;
  transition: opacity 300ms ease-in-out, translate 300ms ease-in-out;
  text-decoration: none;
}
.home .social a svg {
  width: clamp(30px, 3vw, 40px);
  fill: var(--text-color);
  transition: 200ms ease-in-out;
}
.home .social a:hover svg {
  fill: var(--accent-color);
  translate: 0% -10%;
  scale: 1.1;
  rotate: 10deg;
}
.home .buttons {
  display: flex;
  gap: 10px;
  opacity: 0;
  translate: 0% -20%;
}
.home .buttons button {
  color: var(--text-color);
  padding: 8px 12px;
  border: none;
  background-color: var(--primary-color) !important;
  border-radius: 4px;
  position: relative;
  font-size: 1rem;
  background-clip: padding-box;
  border: solid 2px transparent;
  cursor: pointer;
  transition: box-shadow 200ms linear;
}
.home .buttons button::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  margin: -2px;
  background-color: red;
  z-index: -50;
  background: linear-gradient(90deg, var(--accent-color), var(--accent-color2));
}
.home .buttons button:hover {
  box-shadow: 0px 0px 5px var(--accent-color);
}
.home .buttons button:hover::before {
  background: linear-gradient(185deg, var(--accent-color), var(--accent-color2));
}
.work {
  position: relative;
}
.work::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  position: absolute;
  right: 0;
  bottom: 0;
  -webkit-clip-path: polygon(100% 0, 50% 0, 100% 60%);
          clip-path: polygon(100% 0, 50% 0, 100% 60%);
  z-index: -1;
  background-image: repeating-linear-gradient(135deg, hsla(210deg, 79%, 75%, 0.05) 0px, hsla(210deg, 79%, 75%, 0.05) 1px, transparent 1px, transparent 11px, hsla(210deg, 79%, 75%, 0.05) 11px, hsla(210deg, 79%, 75%, 0.05) 12px, transparent 12px, transparent 32px), repeating-linear-gradient(45deg, hsla(210deg, 79%, 75%, 0.05) 0px, hsla(210deg, 79%, 75%, 0.05) 1px, transparent 1px, transparent 11px, hsla(210deg, 79%, 75%, 0.05) 11px, hsla(210deg, 79%, 75%, 0.05) 12px, transparent 12px, transparent 32px), repeating-linear-gradient(90deg, hsla(210deg, 79%, 75%, 0.05) 0px, hsla(210deg, 79%, 75%, 0.05) 1px, transparent 1px, transparent 11px, hsla(210deg, 79%, 75%, 0.05) 11px, hsla(210deg, 79%, 75%, 0.05) 12px, transparent 12px, transparent 32px), repeating-linear-gradient(0deg, hsla(210deg, 79%, 75%, 0.05) 0px, hsla(210deg, 79%, 75%, 0.05) 1px, transparent 1px, transparent 11px, hsla(210deg, 79%, 75%, 0.05) 11px, hsla(210deg, 79%, 75%, 0.05) 12px, transparent 12px, transparent 32px), linear-gradient(90deg, var(--accent-color), var(--accent-color2));
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}
.work::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-clip-path: polygon(0 50%, 0% 100%, 50% 100%);
          clip-path: polygon(0 50%, 0% 100%, 50% 100%);
  z-index: -1;
  background-image: repeating-linear-gradient(135deg, hsla(210deg, 79%, 75%, 0.05) 0px, hsla(210deg, 79%, 75%, 0.05) 1px, transparent 1px, transparent 11px, hsla(210deg, 79%, 75%, 0.05) 11px, hsla(210deg, 79%, 75%, 0.05) 12px, transparent 12px, transparent 32px), repeating-linear-gradient(45deg, hsla(210deg, 79%, 75%, 0.05) 0px, hsla(210deg, 79%, 75%, 0.05) 1px, transparent 1px, transparent 11px, hsla(210deg, 79%, 75%, 0.05) 11px, hsla(210deg, 79%, 75%, 0.05) 12px, transparent 12px, transparent 32px), repeating-linear-gradient(90deg, hsla(210deg, 79%, 75%, 0.05) 0px, hsla(210deg, 79%, 75%, 0.05) 1px, transparent 1px, transparent 11px, hsla(210deg, 79%, 75%, 0.05) 11px, hsla(210deg, 79%, 75%, 0.05) 12px, transparent 12px, transparent 32px), repeating-linear-gradient(0deg, hsla(210deg, 79%, 75%, 0.05) 0px, hsla(210deg, 79%, 75%, 0.05) 1px, transparent 1px, transparent 11px, hsla(210deg, 79%, 75%, 0.05) 11px, hsla(210deg, 79%, 75%, 0.05) 12px, transparent 12px, transparent 32px), linear-gradient(90deg, var(--accent-color), var(--accent-color2));
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}

.skills {
  position: relative;
}
.skills::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-clip-path: polygon(50% 0, 0 0, 0 50%);
          clip-path: polygon(50% 0, 0 0, 0 50%);
  z-index: -1;
  background-image: repeating-linear-gradient(135deg, hsla(210deg, 79%, 75%, 0.05) 0px, hsla(210deg, 79%, 75%, 0.05) 1px, transparent 1px, transparent 11px, hsla(210deg, 79%, 75%, 0.05) 11px, hsla(210deg, 79%, 75%, 0.05) 12px, transparent 12px, transparent 32px), repeating-linear-gradient(45deg, hsla(210deg, 79%, 75%, 0.05) 0px, hsla(210deg, 79%, 75%, 0.05) 1px, transparent 1px, transparent 11px, hsla(210deg, 79%, 75%, 0.05) 11px, hsla(210deg, 79%, 75%, 0.05) 12px, transparent 12px, transparent 32px), repeating-linear-gradient(90deg, hsla(210deg, 79%, 75%, 0.05) 0px, hsla(210deg, 79%, 75%, 0.05) 1px, transparent 1px, transparent 11px, hsla(210deg, 79%, 75%, 0.05) 11px, hsla(210deg, 79%, 75%, 0.05) 12px, transparent 12px, transparent 32px), repeating-linear-gradient(0deg, hsla(210deg, 79%, 75%, 0.05) 0px, hsla(210deg, 79%, 75%, 0.05) 1px, transparent 1px, transparent 11px, hsla(210deg, 79%, 75%, 0.05) 11px, hsla(210deg, 79%, 75%, 0.05) 12px, transparent 12px, transparent 32px), linear-gradient(90deg, var(--accent-color), var(--accent-color2));
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}

@media (min-width: 450px) {
  header {
    -webkit-backdrop-filter: blur(8px);
            backdrop-filter: blur(8px);
  }
}
@media (max-width: 450px) {
  .preloader .loader-outer,
.preloader .loader-inner {
    top: 60%;
  }
  #cursor {
    display: none;
  }
  header {
    height: 60px;
    background-color: transparent;
  }
  header .logo {
    -webkit-backdrop-filter: blur(4px);
            backdrop-filter: blur(4px);
    height: 40px;
    width: 100%;
    top: 0;
    left: 0;
    padding-left: 1rem;
    position: fixed;
  }
  header nav {
    -webkit-backdrop-filter: blur(8px);
            backdrop-filter: blur(8px);
    height: 60px;
    z-index: 20;
    bottom: 0;
    top: auto;
    overflow: auto;
    background-color: var(--navbar-color);
    right: 0;
    padding-inline: 0.5rem;
  }
  header nav ul li a {
    width: calc((100vw - 1rem) / 6);
    padding: 0;
  }
  header nav ul li a.active .icon {
    rotate: -10deg;
  }
  header nav .themes-btn .icon {
    display: block;
  }
  header nav .themes-btn .icon line,
header nav .themes-btn .icon rect {
    stroke-width: 4 !important;
  }
  header nav .themes-btn .text {
    display: block !important;
  }
  header nav .text {
    font-size: 0.5rem;
    padding: 0;
  }
  header nav .icon {
    display: block !important;
    width: 40%;
    fill: var(--text-color);
  }
  .home {
    padding-top: 0px !important;
    text-align: center;
  }
  .home .social {
    justify-content: center;
  }
  .home .buttons {
    flex-direction: column;
  }
  .home .buttons button {
    width: 100%;
  }
}
@-webkit-keyframes rotate-left {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}
@keyframes rotate-left {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}
@-webkit-keyframes rotate-right {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes rotate-right {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
#cursor {
  position: fixed;
  top: calc(var(--cursor-size) * -0.5);
  left: calc(var(--cursor-size) * -0.5);
  pointer-events: none;
  mix-blend-mode: difference;
  filter: url(#goo);
  z-index: 1000;
}

.cursor-circle {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--cursor-size);
  height: var(--cursor-size);
  border-radius: var(--cursor-size);
  background: var(--cursor-color);
  transform-origin: center center;
}/*# sourceMappingURL=style.css.map */