@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --loader-color: #fff;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 20px;
  padding: 50px;
  background-color: rgb(30, 32, 34);
  flex-wrap: wrap;
}

button {
  padding: 10px 20px;
  background-color: rgba(52, 52, 52, 0.47);
  border: 1px solid white;
  color: rgb(222, 222, 222);
  font-size: 1.1rem;
}
button:hover {
  cursor: pointer;
  background-color: rgba(52, 52, 52, 0.695);
  color: rgb(234, 234, 234);
}
button:active {
  background-color: rgb(52, 52, 52);
  color: #fff;
}

.preloader-1 {
  opacity: 0;
  position: fixed;
  width: 100%;
  height: 100vh;
  pointer-events: none;
  background-color: rgb(35, 35, 44);
  display: flex;
  justify-content: center;
  align-items: center;
}
.preloader-1.active {
  opacity: 1;
  pointer-events: all;
}

.preloader-2 {
  opacity: 0;
  position: fixed;
  width: 100%;
  height: 100vh;
  pointer-events: none;
  background-color: rgb(35, 35, 44);
  display: flex;
  justify-content: center;
  align-items: center;
}
.preloader-2.active {
  opacity: 1;
  pointer-events: all;
}

.preloader-3 {
  opacity: 0;
  position: fixed;
  width: 100%;
  height: 100vh;
  pointer-events: none;
  background-color: rgb(35, 35, 44);
  display: flex;
  justify-content: center;
  align-items: center;
}
.preloader-3.active {
  opacity: 1;
  pointer-events: all;
}

.preloader-4 {
  opacity: 0;
  position: fixed;
  width: 100%;
  height: 100vh;
  pointer-events: none;
  background-color: rgb(35, 35, 44);
  display: flex;
  justify-content: center;
  align-items: center;
}
.preloader-4.active {
  opacity: 1;
  pointer-events: all;
}

.preloader-5 {
  opacity: 0;
  position: fixed;
  width: 100%;
  height: 100vh;
  pointer-events: none;
  background-color: rgb(35, 35, 44);
  display: flex;
  justify-content: center;
  align-items: center;
}
.preloader-5.active {
  opacity: 1;
  pointer-events: all;
}

.preloader-1 {
  background-color: rgb(35, 35, 44);
  pointer-events: none;
}
.preloader-1 .loader-outer,
.preloader-1 .loader-inner {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 1;
  border-radius: 50%;
  border: 4px solid var(--loader-color);
  filter: drop-shadow(0px 0px 10px var(--loader-color));
  border-bottom: 0;
}
.preloader-1 .loader-inner {
  width: min(22vw, 8rem);
  border-left-color: transparent;
  -webkit-animation: rotate-right 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite;
          animation: rotate-right 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite;
}
.preloader-1 .loader-outer {
  width: min(30vw, 10rem);
  border-right-color: transparent;
  -webkit-animation: rotate-left 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite;
          animation: rotate-left 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite;
}
.preloader-1.active .loader-outer,
.preloader-1.active .loader-inner {
  opacity: 1;
}

.preloader-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.preloader-2 .loader3 {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  aspect-ratio: 1;
  width: min(22vw, 8rem);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  filter: drop-shadow(0px 0px 10px var(--loader-color));
}
.preloader-2 .loader3:before,
.preloader-2 .loader3:after {
  content: "";
  border: 3px solid var(--loader-color);
  border-radius: 50%;
  aspect-ratio: 1;
  width: min(22vw, 8rem);
  position: absolute;
  left: 0px;
}
.preloader-2 .loader3:before {
  transform: scale(1, 1);
  opacity: 1;
  -webkit-animation: beforeWave 1s infinite linear;
          animation: beforeWave 1s infinite linear;
}
.preloader-2 .loader3:after {
  transform: scale(0, 0);
  opacity: 0;
  -webkit-animation: afterWave 1s infinite linear;
          animation: afterWave 1s infinite linear;
}

.preloader-3 .loader1 {
  border: 8px solid #969595;
  border-top: 8px solid var(--loader-color);
  border-radius: 50%;
  width: min(22vw, 5rem);
  aspect-ratio: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-animation: spin 0.9s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite;
          animation: spin 0.9s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite;
}

.preloader-4 .loader1 {
  border: 8px solid var(--loader-color);
  filter: drop-shadow(0px 0px 10px var(--loader-color));
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-radius: 50%;
  width: min(22vw, 6rem);
  aspect-ratio: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-animation: spin 0.8s linear infinite;
          animation: spin 0.8s linear infinite;
}

.preloader-5 .loader {
  position: relative;
  width: 80px;
  aspect-ratio: 1;
}
.preloader-5 .loader .square-1,
.preloader-5 .loader .square-2 {
  position: absolute;
  width: 20px;
  aspect-ratio: 1;
  background-color: #fff;
}
.preloader-5 .loader .square-1 {
  top: 0;
  left: 0;
  -webkit-animation: move-around-1 1.5s ease-out infinite;
          animation: move-around-1 1.5s ease-out infinite;
}
.preloader-5 .loader .square-2 {
  bottom: 0;
  right: 0;
  -webkit-animation: move-around-2 1.5s linear infinite;
          animation: move-around-2 1.5s linear infinite;
}

@-webkit-keyframes rotate-left {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes rotate-left {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}
@-webkit-keyframes rotate-right {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes rotate-right {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@-webkit-keyframes afterWave {
  0% {
    transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
  }
}
@keyframes afterWave {
  0% {
    transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
  }
}
@-webkit-keyframes beforeWave {
  0% {
    transform: scale(1, 1);
    opacity: 1;
  }
  100% {
    transform: scale(1.5, 1.5);
    opacity: 0;
  }
}
@keyframes beforeWave {
  0% {
    transform: scale(1, 1);
    opacity: 1;
  }
  100% {
    transform: scale(1.5, 1.5);
    opacity: 0;
  }
}
@-webkit-keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@-webkit-keyframes move-around-1 {
  0% {
    transform: translate(0%, 0%) scale(1) rotate(0deg);
  }
  25% {
    transform: translate(300%, 0%) scale(0.7) rotate(180deg);
  }
  50% {
    transform: translate(300%, 300%) scale(0.5) rotate(360deg);
  }
  75% {
    transform: translate(0%, 300%) scale(0.7) rotate(180deg);
  }
  100% {
    transform: translate(0%, 0%) scale(1) rotate(0deg);
  }
}
@keyframes move-around-1 {
  0% {
    transform: translate(0%, 0%) scale(1) rotate(0deg);
  }
  25% {
    transform: translate(300%, 0%) scale(0.7) rotate(180deg);
  }
  50% {
    transform: translate(300%, 300%) scale(0.5) rotate(360deg);
  }
  75% {
    transform: translate(0%, 300%) scale(0.7) rotate(180deg);
  }
  100% {
    transform: translate(0%, 0%) scale(1) rotate(0deg);
  }
}
@-webkit-keyframes move-around-2 {
  0% {
    transform: translate(0%, 0%) scale(1) rotate(0deg);
  }
  25% {
    transform: translate(-300%, 0%) scale(0.7) rotate(-180deg);
  }
  50% {
    transform: translate(-300%, -300%) scale(0.5) rotate(-360deg);
  }
  75% {
    transform: translate(0%, -300%) scale(0.7) rotate(-180deg);
  }
  100% {
    transform: translate(0%, 0%) scale(1) rotate(0deg);
  }
}
@keyframes move-around-2 {
  0% {
    transform: translate(0%, 0%) scale(1) rotate(0deg);
  }
  25% {
    transform: translate(-300%, 0%) scale(0.7) rotate(-180deg);
  }
  50% {
    transform: translate(-300%, -300%) scale(0.5) rotate(-360deg);
  }
  75% {
    transform: translate(0%, -300%) scale(0.7) rotate(-180deg);
  }
  100% {
    transform: translate(0%, 0%) scale(1) rotate(0deg);
  }
}/*# sourceMappingURL=style.css.map */