@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body {
	background-color: #2f2d2d;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}
.notifications {
	position: fixed;
	top: 30px;
	right: 20px;
	:where(.toast, .column) {
		display: flex;
		align-items: center;
	}
	.toast {
		width: 400px;
		list-style-type: none;
		border-radius: 4px;
		padding: 16px 17px;
		margin-bottom: 10px;
		background-color: #fff;
		justify-content: space-between;
		position: relative;
        overflow: hidden;
		&.success {
			--accent-color: rgb(15, 199, 15);
		}
		&.warning {
			--accent-color: rgb(249, 183, 18);
		}
		&.error {
			--accent-color: rgb(199, 15, 15);
		}
		&.info {
			--accent-color: rgb(15, 119, 199);
		}
		&::before {
			position: absolute;
			content: '';
			height: 3px;
			width: 50%;
			bottom: 0;
			left: 0;
			background-color: var(--accent-color);
		}
		.column {
			span:first-of-type {
				font-size: 1.75rem;
				color: var(--accent-color);
			}
			span:last-of-type {
				font-size: 1.07rem;
				margin-left: 12px;
			}
		}
		button {
			display: grid;
			place-content: center;
			background: none;
			border: none;
			&:hover {
				color: #726f6f;
				cursor: pointer;
			}
		}
	}
}
