@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
:root {
	--bg-color: rgb(20, 20, 20);
	--card-color: rgb(23, 23, 23);
	--card-border-color: rgba(255, 255, 255, 0.1);
	--light-color: rgba(255, 255, 255, 0.06);
	--hover-border-color: rgba(255, 255, 255, 0.4);
}

body {
	align-items: center;
	background-color: var(--bg-color);
	display: flex;
	height: 100vh;
	justify-content: center;
	margin: 0px;
	overflow: hidden;
	padding: 0px;
}
.cards-container {
	width: calc(100% - 2rem);
	max-width: 915px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	gap: 7px;
	justify-content: center;
	align-items: center;
	&:hover > .card::after {
		opacity: 1;
	}
	.card {
		background-color: var(--card-border-color);
		cursor: pointer;
		place-self: center;
		display: flex;
		height: 260px;
		flex-direction: column;
		position: relative;
		width: min(100%, 300px);
		&:hover::before {
			opacity: 1;
		}
		&::before,
		&::after {
			border-radius: inherit;
			content: '';
			height: 100%;
			left: 0px;
			opacity: 0;
			position: absolute;
			top: 0px;
			transition: opacity 500ms;
			width: 100%;
		}
		&::before {
			background: radial-gradient(800px circle at var(--mouse-x) var(--mouse-y), var(--light-color), transparent 40%);
			z-index: 3;
		}
		&::after {
			background: radial-gradient(600px circle at var(--mouse-x) var(--mouse-y), var(--hover-border-color), transparent 40%);
			z-index: 1;
		}
		& > .card__content {
			background-color: var(--card-color);
			border-radius: inherit;
			display: flex;
			flex-direction: column;
			flex-grow: 1;
			inset: 1px;
			padding: 10px;
			position: absolute;
			z-index: 2;
		}
	}
}
@media (prefers-color-scheme: light) {
	:root {
		--bg-color: rgb(250, 250, 250);
		--card-color: rgb(255, 255, 255);
		--card-border-color: rgba(255, 255, 255, 0.1);
		--light-color: rgba(33, 33, 33, 0.06);
		--hover-border-color: rgba(42, 42, 42, 0.4);
	}
}
@media (width < 600px) {
	.cards-container {
		.card {
			width: 100%;
		}
	}
}
