@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body {
	background-color: rgb(65, 125, 255);
	height: 100vh;
	width: 100vw;
	display: grid;
	place-content: center;
}
main {
	display: grid;
	place-content: center;
	margin: 0 auto;
	background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px rgba(0, 0, 0,0.3);
    border-radius: 4px;
    overflow: hidden;
	.list {
        width: min(calc(100vw - 2rem), 800px);
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 5px;
        .item {
            padding: 15px;
            // border-bottom: 1px solid #000;
             box-shadow: 0px 0px 5px rgba(0, 0, 0,0.1);
            &:last-of-type {
                border-bottom: none;
            }
            &:hover {
                background-color: rgba(210, 210, 210, 0.05);
                box-shadow: 0px 0px 10px rgba(0, 0, 0,0.15);
            }
        }
	}
    .pagination {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 20px;
        gap: 8px;
        button {
            border-radius: 4px;
            cursor: pointer;
            width: 50px;
            aspect-ratio: 1;
            background-color: rgb(255, 255, 255);
            border: none;
            box-shadow: 0px 0px 5px rgba(0, 0, 0,0.1);
            font-size: 1.2rem;
            &.active {
                background-color: rgb(0, 128, 255);
                color: white;
            }
        }
    }
}
