@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body {
	background-color: rgb(3, 20, 52);
	height: 100vh;
	width: 100vw;
	display: grid;
	place-content: center;
}
main {
	display: grid;
	place-content: center;
	margin: 0 auto;
	background-color: rgb(33, 33, 33);
    box-shadow: 0px 0px 10px rgba(0, 0, 0,0.3);
    color: white;
    border-radius: 4px;
    overflow: hidden;
	.list {
        width: min(calc(100vw - 2rem), 800px);
        margin-top: 25px;
        border: 1px solid rgb(0, 0, 0);
        .item {
            padding: 15px;
            border-bottom: 1px solid #000;
            &:last-of-type {
                border-bottom: none;
            }
            &:hover {
                background-color: rgba(0,0,0,0.05);
            }
        }
	}
}
