* {
	margin: 0;
	padding: 0;
}
:root {
	--rotate: 113deg;
}
body {
	position: relative;
	perspective: 400px;
	height: 100vh;
}
#sky {
	width: 100vw;
	height: 70vh;
	background-image: linear-gradient(to bottom, #040a24, #1d0524);
}
#bottom {
	position: absolute;
	z-index: 2;
	width: 100%;
	height: 100%;
	transform: perspective(400px) rotateX(var(--rotate));
	bottom: -15%;
	background: linear-gradient(90deg, hotpink -60%, #040a24 40%, #040a24 60%, hotpink 140%);
	clip-path: polygon(0 100%, 0 55%, 100% 55%, 100% 100%);
	#ground {
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 55%;

		background: repeating-linear-gradient(white 2px, transparent 3px, transparent 30px), repeating-linear-gradient(90deg, white 2px, transparent 3px, transparent 40px);
		filter: drop-shadow(0 0 1px cyan) drop-shadow(0 0 3px cyan) drop-shadow(0 0 7px cyan);
		animation: move 20s linear infinite;
	}
}

@keyframes move {
	to {
		background-position-y: 2000px;
	}
}
