* {
  margin: 0;
  padding: 0;
}

:root {
  --rotate: 113deg;
  --sun-top-position: 40%;
  --sun-gradient: linear-gradient(rgb(255, 0, 208), rgb(255, 0, 157), orangered, red);
  --sky-gradient: linear-gradient(to bottom, #120032 0% 50%, #2f074d 70% 80%, #6c0b36 95% 100%);
  --floor-color: #ab0356;
  --line-color: #ab0356;
}

body {
  position: relative;
  overflow: hidden;
  perspective: 400px;
  height: 100vh;
  background-image: var(--sky-gradient);
}

#sky {
  width: 100vw;
  height: 70vh;
  background-image: var(--sky-gradient);
}

#sun {
  width: 550px;
  height: 550px;
  border-radius: 50%;
  position: absolute;
  top: var(--sun-top-position);
  left: 50%;
  translate: -50%;
  filter: blur(8px);
  z-index: 1;
  background-image: var(--sun-gradient);
}
#sun::before {
  content: "";
  width: 570px;
  height: 570px;
  border-radius: 50%;
  background-image: var(--sun-gradient);
  position: absolute;
  z-index: -20 !important;
  opacity: 0.8;
  filter: blur(8px);
  top: -2%;
  left: 50%;
  translate: -50%;
}

#bottom {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  transform: perspective(400px) rotateX(var(--rotate));
  bottom: -15%;
  background: linear-gradient(90deg, hotpink -60%, #0d072c 40%, #0d072c 60%, hotpink 140%);
  -webkit-clip-path: polygon(0 100%, 0 55%, 100% 55%, 100% 100%);
          clip-path: polygon(0 100%, 0 55%, 100% 55%, 100% 100%);
}
#bottom #ground {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 55%;
  background: repeating-linear-gradient(var(--line-color) 2px, transparent 3px, transparent 30px), repeating-linear-gradient(90deg, var(--line-color) 2px, transparent 3px, transparent 40px);
  filter: drop-shadow(0 0 1px var(--floor-color)) drop-shadow(0 0 3px var(--floor-color)) drop-shadow(0 0 7px var(--floor-color));
  -webkit-animation: move 20s linear infinite;
          animation: move 20s linear infinite;
}

.star-0 {
  opacity: 0;
  -webkit-animation: blink 1s linear infinite alternate;
          animation: blink 1s linear infinite alternate;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.star-1 {
  opacity: 0;
  -webkit-animation: blink 1s linear infinite alternate;
          animation: blink 1s linear infinite alternate;
  -webkit-animation-delay: 0.05s;
          animation-delay: 0.05s;
}

.star-2 {
  opacity: 0;
  -webkit-animation: blink 1s linear infinite alternate;
          animation: blink 1s linear infinite alternate;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.star-3 {
  opacity: 0;
  -webkit-animation: blink 1s linear infinite alternate;
          animation: blink 1s linear infinite alternate;
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
}

.star-4 {
  opacity: 0;
  -webkit-animation: blink 1s linear infinite alternate;
          animation: blink 1s linear infinite alternate;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.star-5 {
  opacity: 0;
  -webkit-animation: blink 1s linear infinite alternate;
          animation: blink 1s linear infinite alternate;
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}

.star-6 {
  opacity: 0;
  -webkit-animation: blink 1s linear infinite alternate;
          animation: blink 1s linear infinite alternate;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.star-7 {
  opacity: 0;
  -webkit-animation: blink 1s linear infinite alternate;
          animation: blink 1s linear infinite alternate;
  -webkit-animation-delay: 0.35s;
          animation-delay: 0.35s;
}

.star-8 {
  opacity: 0;
  -webkit-animation: blink 1s linear infinite alternate;
          animation: blink 1s linear infinite alternate;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.star-9 {
  opacity: 0;
  -webkit-animation: blink 1s linear infinite alternate;
          animation: blink 1s linear infinite alternate;
  -webkit-animation-delay: 0.45s;
          animation-delay: 0.45s;
}

.star-10 {
  opacity: 0;
  -webkit-animation: blink 1s linear infinite alternate;
          animation: blink 1s linear infinite alternate;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.star-11 {
  opacity: 0;
  -webkit-animation: blink 1s linear infinite alternate;
          animation: blink 1s linear infinite alternate;
  -webkit-animation-delay: 0.55s;
          animation-delay: 0.55s;
}

.star-12 {
  opacity: 0;
  -webkit-animation: blink 1s linear infinite alternate;
          animation: blink 1s linear infinite alternate;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.star-13 {
  opacity: 0;
  -webkit-animation: blink 1s linear infinite alternate;
          animation: blink 1s linear infinite alternate;
  -webkit-animation-delay: 0.65s;
          animation-delay: 0.65s;
}

.star-14 {
  opacity: 0;
  -webkit-animation: blink 1s linear infinite alternate;
          animation: blink 1s linear infinite alternate;
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.star-15 {
  opacity: 0;
  -webkit-animation: blink 1s linear infinite alternate;
          animation: blink 1s linear infinite alternate;
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

.star-16 {
  opacity: 0;
  -webkit-animation: blink 1s linear infinite alternate;
          animation: blink 1s linear infinite alternate;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.star-17 {
  opacity: 0;
  -webkit-animation: blink 1s linear infinite alternate;
          animation: blink 1s linear infinite alternate;
  -webkit-animation-delay: 0.85s;
          animation-delay: 0.85s;
}

.star-18 {
  opacity: 0;
  -webkit-animation: blink 1s linear infinite alternate;
          animation: blink 1s linear infinite alternate;
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.star-19 {
  opacity: 0;
  -webkit-animation: blink 1s linear infinite alternate;
          animation: blink 1s linear infinite alternate;
  -webkit-animation-delay: 0.95s;
          animation-delay: 0.95s;
}

.star-20 {
  opacity: 0;
  -webkit-animation: blink 1s linear infinite alternate;
          animation: blink 1s linear infinite alternate;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.star-21 {
  opacity: 0;
  -webkit-animation: blink 1s linear infinite alternate;
          animation: blink 1s linear infinite alternate;
  -webkit-animation-delay: 1.05s;
          animation-delay: 1.05s;
}

.star-22 {
  opacity: 0;
  -webkit-animation: blink 1s linear infinite alternate;
          animation: blink 1s linear infinite alternate;
  -webkit-animation-delay: 1.1s;
          animation-delay: 1.1s;
}

.star-23 {
  opacity: 0;
  -webkit-animation: blink 1s linear infinite alternate;
          animation: blink 1s linear infinite alternate;
  -webkit-animation-delay: 1.15s;
          animation-delay: 1.15s;
}

.star-24 {
  opacity: 0;
  -webkit-animation: blink 1s linear infinite alternate;
          animation: blink 1s linear infinite alternate;
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.star-25 {
  opacity: 0;
  -webkit-animation: blink 1s linear infinite alternate;
          animation: blink 1s linear infinite alternate;
  -webkit-animation-delay: 1.25s;
          animation-delay: 1.25s;
}

.star {
  background-color: #fff;
  box-shadow: 0px 0px 10px rgb(23, 23, 112);
  border-radius: 50%;
  filter: blur(1px);
  aspect-ratio: 1/1;
  border-radius: 9999px;
  position: absolute;
  z-index: 0;
}

@-webkit-keyframes move {
  to {
    background-position-y: 2000px;
  }
}

@keyframes move {
  to {
    background-position-y: 2000px;
  }
}
@-webkit-keyframes blink {
  to {
    opacity: 1;
  }
}
@keyframes blink {
  to {
    opacity: 1;
  }
}
@media (max-height: 1250px) {
  :root {
    --rotate: 105deg;
    --sun-top-position: 35%;
  }
}
@media (max-height: 800px) {
  :root {
    --rotate: 95deg;
    --sun-top-position: 25%;
  }
}
@media (max-height: 600px) {
  :root {
    --rotate: 85deg;
    --sun-top-position: 10%;
  }
}/*# sourceMappingURL=style.css.map */