@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
	padding: 0;
	margin: 0;
	font-family: 'Poppins', sans-serif;
}
:root {
	--swiper-theme-color: orange !important;
	--body-background-color: #252525;
	--inactive-slide-color: #111;
	--active-slide-color: #000;
	--current-text-color: #fff;
}
.light-mode {
	--swiper-theme-color: orange !important;
	--body-background-color: #e3e3e3;
	--inactive-slide-color: rgb(225, 225, 225);
	--active-slide-color: rgb(255, 255, 255);
	--current-text-color: rgb(0, 0, 0);
}
body {
	background-color: var(--body-background-color);
	overflow: hidden;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.swiper {
	width: min(100% - 1rem, 1200px);
	text-align: center;
}
.swiper-slide {
	background-color: var(--inactive-slide-color);
	color: var(--current-text-color);
	width: 350px !important;
	height: 500px !important;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	border-radius: 5px !important;
	transition: 0.5s linear;
}
.swiper-slide-visible {
	border-radius: 12px !important;
}
.swiper-slide-active {
	background-color: var(--active-slide-color);
}
.swiper-pagination {
	bottom: 10px !important;
	.swiper-pagination-bullet {
		background-color: var(--current-text-color) !important;
	}
	.swiper-pagination-bullet-active {
		background-color: var(--swiper-theme-color) !important;
	}
}
.theme-toggle-btn{
	position: absolute;
	top: 20px;
	left: 20px;
	padding: 20px;
	background-color: transparent;
	border: 1px solid var(--swiper-theme-color);
	color: var(--current-text-color);
	&:hover{
		background-color: var(--swiper-theme-color);
		cursor: pointer;
	}
}
@media (max-width: 540px) {
	.swiper-slide {
		width: 250px !important;
		height: 400px !important;
	}
}
